.u-section-1 {
  background-image: url("images/webbackground.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 1707px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(26,26,26,1);
  animation-duration: 1000ms;
  text-decoration: underline !important;
  margin: 16px 432px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(26,26,26,1);
  animation-duration: 1000ms;
  text-decoration: underline !important;
  margin: 59px 605px 0 86px;
}

.u-section-1 .u-image-1 {
  width: 102px;
  height: 93px;
  animation-duration: 1000ms;
  margin: -73px auto 0 -32px;
}

.u-section-1 .u-image-2 {
  width: 561px;
  height: 241px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.6);
  margin: 38px auto 0 74px;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -101px 81px 0 651px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -91px auto 0 651px;
}

.u-section-1 .u-image-3 {
  width: 561px;
  height: 206px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.6);
  margin: 133px auto 0 74px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -140px auto 0 651px;
}

.u-section-1 .u-text-6 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 16px 81px 0 651px;
}

.u-section-1 .u-image-4 {
  width: 561px;
  height: 215px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.6);
  animation-duration: 1000ms;
  margin: 29px auto 0 74px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -163px auto 0 651px;
}

.u-section-1 .u-text-8 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 16px -327px 0 651px;
}

.u-section-1 .u-image-5 {
  width: 561px;
  height: 247px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.6);
  animation-duration: 1000ms;
  margin: 88px auto 0 74px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -210px auto 0 651px;
}

.u-section-1 .u-text-10 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 7px -1143px 0 651px;
}

.u-section-1 .u-image-6 {
  width: 561px;
  height: 172px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.6);
  animation-duration: 1000ms;
  margin: 72px auto 0 74px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -156px auto 0 651px;
}

.u-section-1 .u-text-12 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 9px -2775px 0 651px;
}

.u-section-1 .u-image-7 {
  width: 561px;
  height: 253px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.6);
  margin: 88px auto 0 74px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -216px auto 0 651px;
}

.u-section-1 .u-text-14 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 9px -6039px 60px 651px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 356px;
    margin-right: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 499px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 532px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 532px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 537px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 537px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 537px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 537px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 451px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 451px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 537px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 537px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 537px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 537px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 273px;
    margin-right: 273px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 382px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 312px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 312px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 231px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 231px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 205px;
    margin-right: 205px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 287px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 232px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -92px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 132px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 198px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -132px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 137px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 207px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -155px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 137px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 238px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -201px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 51px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 165px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -149px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 137px;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 244px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: -207px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 181px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 146px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 125px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -59px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 130px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -78px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 150px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -113px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 104px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -88px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 154px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -117px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: url("images/webbackground1.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 507px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(26,26,26,1);
  animation-duration: 1000ms;
  text-decoration: underline !important;
  margin: 13px auto 0 135px;
}

.u-section-2 .u-image-1 {
  width: 61px;
  height: 61px;
  margin: -52px auto 0 54px;
}

.u-section-2 .u-image-2 {
  width: 573px;
  height: 191px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.6);
  margin: 29px auto 0 65px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -166px auto 0 651px;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 0 0 60px 651px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 537px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 537px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 317px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 180px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -155px;
    margin-left: 137px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 85px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 113px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -88px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}